.dialogsWindow {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {

}

.dialog a {
    text-decoration: none;
    color: #D500F9;
}

.dialog a.active {
    color: #ffd21b;
}

.messages {
    padding: 10px;
}

.message {

}